@charset "UTF-8";
/* CSS Document */
body {
	background-color: #FFDAFA;
	font-family: fugue;
	}
a {
  color: inherit;
  text-decoration: inherit;
}
@font-face {
	font-family: 'fugue';
	src: url('fonts/fugue_regular.otf'); 
}
#all {
	background-color:red;
	max-width: 1142px;
	}
#fixedelements {
	background-color:white;
	}
#content {
	padding-bottom: 39%;
	}
#title {
	background-color:green;
	font-size: 5em;
	position: fixed;
	margin-top: 1px;
	color: #FF2F5D;
	text-align:center;
	width:100%;
	}
.mainnav {
	background-color: grey;
	position: fixed;
	font-size: 1.4em;
	border-style: solid;
	border-width: medium;
	text-align: left;
	color: #2a00ff;
	left: 28%;
	top: 20%;
	margin-top: 7%;
}
ul {
	margin-right: 0.4em;
	margin-bottom: 0em;
	margin-left: -1.5em;
}
#blurb {
	background-color: white;
	font-size: 1.9em;
	text-indent: 6%;
	max-width: 400px;
	text-align: left;
	margin-left: 39%;
	color: #7054ff;	
}
#carmenpic {
	background-color: blue;
	margin-right: -37%;
	margin-top: 8%;
}
#footer {
	background-color:grey;
	text-align:center;
	margin:auto;
	color:#B6B6B6;
	font-size:.9em;
	}
